* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins";
}

main {
  height: 10000px;
}

/* common */
.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row .left {
  width: 49%;
}

.row .right {
  width: 41%;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.reverse .left {
  width: 41%;
}

.row.reverse .right {
  width: 49%;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 0 16px;
  min-width: 118px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 25px;
  background-color: #171100;
  color: #ffffff;
  transition: all ease 0.2s;
}

.btn:hover {
  opacity: 0.9;
}

.sub-title {
  font-family: "Sen";
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: #171100;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* header */
.header {
  padding: 36px 0 8px;
  background-color: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
}

.nav-bar {
  margin-left: auto;
}

.header .menu {
  display: flex;
}

.header .menu a {
  padding: 0 21px;
  position: relative;
  font-size: 1.6rem;
  color: #5f5b53;
}

.header .menu a:hover,
.header .menu li.active a {
  text-shadow: 1px 0 0 currentColor; /*không bị giật chữ khi hover*/
  color: #171100;
}

.header .menu a:hover:before,
.header .menu li.active a::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.btn.sign-up {
  margin-left: 70px;
  font-size: 1.6rem;
  min-width: 144px;
}

/* hero */

.hero {
  background-color: #fffcf4;
  padding: 56px 0 65px;
}

.hero .body {
  display: flex;
  justify-content: space-between;
}

.hero .media-block {
  position: relative;
  width: 49%;
}

.hero .hero-img {
  display: block;
  width: 470px;
  height: 685px;
  object-fit: cover;
}

.hero .card {
  width: 270px;
  position: absolute;
  right: 0;
  bottom: 48px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.card-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card-item + .card-item {
  margin-top: 22px;
}

.courses-name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-item p {
  font-size: 1.4rem;
  color: #5f5b53;
}

.card-item .title {
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}

.hero .info-block {
  margin-top: 64px;
  width: 41%;
}

.hero .info-block .title {
  font-family: "Sen";
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #171100;
}

.hero .desc {
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.hero .info-block .desc:first-of-type {
  margin-top: 22px;
}

.hero .info-block .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}

.btn.courses {
  min-width: 180px;
  font-size: 1.8rem;
  line-height: 64px;
  background: #ffb900;
  border-radius: 32px;
}

.watch-vid {
  font-family: "Poppins";
  margin-left: 28px;
  display: flex;
  align-items: center;
}

.watch-vid .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.watch-vid span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.hero .desc.stats {
  margin-top: 8px;
}

.hero .desc.stats span {
  margin-right: 28px;
}

.hero .info-block .highlight {
  font-family: "Sen";
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}
/* popular */
.popular {
  margin-top: 200px;
}

.popular .row {
  align-items: center;
}

.popular .row .left {
  max-width: 458px;
}

.popular .row .desc {
  margin-top: 16px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.popular .row .right {
  width: auto;
  display: flex;
  gap: 18px;
}

.popular .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 17px;
  color: #ffb900;
  border: 1px solid #ffb900;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.popular .arrow:hover {
  color: #ffffff;
  background-color: #ffb900;
}

.list-courses {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.list-courses .courses-item {
  width: calc((100% - 60px) / 3);
  background: #ffffff;
  border: 1px solid #e2dfda;
  border-radius: 12px;
  transition: all ease 0.2s;
}

.courses-item:hover {
  border: none;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.list-courses .courses-img {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.courses-item .info {
  padding: 16px 22px 22px;
}

.courses-item .title {
  padding-right: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.courses-item .title.line-clamp {
  --line-clamp: 1;
}

.courses-item .desc {
  min-width: 326px;
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.courses-item .star {
  margin-left: auto;
  margin-right: 6px;
}

.courses-item .star + span {
  color: #fea31b;
}

.courses-item .row.two {
  margin-top: 12px;
}

.courses-item .price {
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}

.courses-item .btn:hover {
  background-color: #ffb900;
}

/* feedback */
.feedback {
  margin-top: 200px;
  background-color: #2e2100;
  padding: 96px 0;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-list .feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .name {
  display: block;
  margin-top: 18px;
  font-family: "Sen";
  font-weight: 700;
  font-size: 2.4rem;
  color: #f7f7f7;
}

.feedback-item .role {
  display: block;
  margin-top: 4px;
  font-size: 1.4rem;
  line-height: 1.85;
  color: #bfbcb3;
}

.feedback-item .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}

.feedback-item .dot {
  width: 6px;
  height: 6px;
  background: #634700;
  border-radius: 50%;
}

.feedback-item .quote {
  margin-left: auto;
  width: 67%;
}

.feedback-item .quote-content {
  padding-left: 30px;
  font-style: italic;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #ffffff;
}

.feedback .active {
  background-color: #ffb900;
}

/* features */
.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .row .left {
  position: relative;
  height: 438px;
}

.features .row .right {
  padding: 58px 0;
}

.features .thumbnail {
  position: absolute;
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.features .thumbnail:nth-child(1) {
  left: 0;
  bottom: 0;
}

.features .thumbnail:nth-child(2) {
  right: 0;
  top: 0;
}

.features .right .desc,
.features .right .src,
.join-now .right .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}

.features .right .btn,
.join-now .right .btn {
  margin-top: 32px;
  min-width: 137px;
  background-color: #ffb900;
}

/* join now */
.join-now {
  margin-top: 70px;
  padding: 65px;
}

.join-now .thumbnail {
  width: 100%;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
}

.join-now .row .right {
  padding: 71px 0;
}
/* blog */
.blog {
  margin-top: 135px;
  padding: 96px;
  background: #fffcf4;
}

.blog .blog-top {
  text-align: center;
}

.blog .blog-top .desc {
  margin: 16px auto 0;
  max-width: 448px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696262;
}

.blog-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
  overflow: hidden;
}

.blog-list .blog-item {
  width: calc((100% - 60px) / 3);
  flex-shrink: 0;
  background: #ffffff;
  border-radius: 16px;
  transition: all ease 0.2s;
}

.blog-list .blog-item:hover {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog-item .blog-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.blog-item .info {
  padding: 20px 20px 28px;
}

.blog-item .date {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  margin-bottom: 12px;
  width: 160px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
  border-bottom: 1px solid #e2dfda;
}

.blog-item .date::before {
  display: inline-block;
  content: "";
  margin-right: 4px;
  width: 6px;
  height: 6px;
  background-color: #ffb900;
  border-radius: 50%;
}

.blog-item .info .title a {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #171100;
}

.blog-item .info .btn {
  margin-top: 12px;
}

.blog-item .info .btn:hover {
  background-color: #ffb900;
}

.blog .dots {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.blog .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #5f5b53;
  cursor: pointer;
}

.blog .active {
  background-color: #ffb900;
  cursor: default;
}
